#mapsSonabel{
  margin-top: 100px;
  border:solid 1px #e7e7e7;
  height: 400px;
}

#mapsfooter{
  text-align: center;

  padding: 5px;
  border: solid 1px #aaa;
}

@media (min-width:768px) {
  .navbar > .container {
    text-align: center;
  }
  .navbar-header {
    float: none;
    display: inline-block;
  }
  .navbar-brand {
    float: none;
    display: inline-block;
  }
  .navbar .navbar-nav {
    float: none;
    display: inline-block;
    clear: none;
  }
  .navbar .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar .navbar-nav a {
    padding: 10px;;
  }
  .navbar .navbar-nav > li li {
    text-align: left
  }
  .collapse.navbar-collapse#centerednav {
    float: none;
    display: inline-block!important;
    width: auto;
    clear: none;
  }
}

